body {

            
         background: #f4f4f4;
         font-family: 'Poppins', sans-serif;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         margin: 0;
     }

     form {
         background: white;
         border-radius: 10px;
         padding: 2rem;
         max-width: 400px;
         width: 100%;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     }

     .form-group {
         margin-bottom: 20px;
     }

     label {
         display: block;
         font-size: 1.2em;
         margin-bottom: 5px;
         font-weight: bold;
         color: #333;
     }

     input:not([type="radio"]):not([type="checkbox"]) {
         width: 100%;
         padding: 0.7em;
         font-size: 1rem;
         border: 1px solid #ccc;
         border-radius: 5px;
         transition: 0.3s;
     }

     input:focus {
         border-color: #007bff;
         outline: none;
         box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
     }

     .radio-group,
     .checkbox-group {
         display: flex;
         align-items: center;
         gap: 10px;
     }

     select {
         width: 100%;
         padding: 0.7em;
         font-size: 1rem;
         border: 1px solid #ccc;
         border-radius: 5px;
         appearance: none;
         background: url('image/Doraemon_cha.png') no-repeat right 10px center;
         background-size: 20px;
     }
     

     button {
         width: 100%;
         padding: 10px;
         background: #007bff;
         color: white;
         border: none;
         font-size: 1.2em;
         border-radius: 5px;
         cursor: pointer;
         transition: 0.3s;
     }

     button:hover {
         background: #0056b3;
     }