body {

    padding: 20px;


}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;

}

h2 {
    text-align: center;
}

label {

    display: block;
    margin: 10px 0 5px;
    font-size: 30px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}


input:required,
select:required,
textarea:required {
    border-color: blue;
}


input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

textarea {
    height: 100px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    pointer-events: none;
}


form:invalid .submit-btn {
    background-color: gray;
    cursor: not-allowed;
}